@import "tailwindcss";

:root {
  
}

@theme inline {

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
   
  }
}

body {
  
}
